<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formadora 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Davi Costa</ion-card-title>
      <ion-card-subtitle>analise e desenvolvimento de sistemas</ion-card-subtitle>
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->
  </ion-card>

  <ion-content class="ion-padding">

    <ion-button expand="block" routerLink="/frases">
      Ir para frase e imagem da nasa
    </ion-button>
  
    <ion-button expand="block" routerLink="/detalhes">
      Ir para Detalhes
    </ion-button>
  
  </ion-content>
  
  
  

  
